{% extends 'base.html' %} {% block title %} Pet Accessories {% endblock title %}


{% block body %}

<div class="p-3 mb-1 bg-danger text-white text-center my-0">
    <h1><b>Pet Accessories</b></h1>
</div>


{% if n > 0 %}

<!-- Showing Products -->
<div class="album py-2 bg-gradient">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


            {% for i in product %}
            {% if i.category == "Pet" %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{i.image}}" width="360px" height="300px" />


                    <!-- For Updating Products -->
                    {%if user.is_superuser%}
                    <div class=" container d-grid gap-5 d-md-block   py-1"
                        style="background-color: #FFCA2C; border-radius: 3px; border-color: black;">
                        <div class="position-relative bottom-0 start-50 translate-middle-x "> </div>


                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#updateModal-{{ forloop.counter }}">
                            <i class="bi bi-arrow-repeat"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="updateModal-{{ forloop.counter }}" tabindex="-1"
                            aria-labelledby="updateModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="updateModalLabel">Update Products</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">


                                        <form action="{% url 'update_product' i.product_id %}" method="post"
                                            enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">Product
                                                    Name:</label>
                                                <input type="text" class="form-control" id="product_name"
                                                    name="product_name" value="{{i.product_name}}"
                                                    placeholder="E.g. Potato Regular" required />
                                            </div>

                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">Product
                                                    Category:</label>
                                                <select class="form-select" aria-label="Default select example"
                                                    id="product_category" name="product_category" required>
                                                    <option value="{{i.category}}">{{i.category}}</option>
                                                    <option value="Fruit">Fruit</option>
                                                    <option value="Vegetable">Vegetable</option>
                                                    <option value="Toy">Toy</option>
                                                    <option value="Medicine">Medicine</option>
                                                    <option value="Stationery">Stationery</option>
                                                    <option value="Pet">Pet</option>
                                                    <option value="Electric">Electric</option>
                                                    <option value="Meat">Meat</option>
                                                    <option value="Fish">Fish</option>
                                                </select>
                                            </div>

                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">Product
                                                    Price:</label>
                                                <input type="number" class="form-control" id="product_price"
                                                    name="product_price" value="{{i.price}}" placeholder="E.g. 100"
                                                    required />
                                            </div>

                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">Product
                                                    Photo:</label> <br>

                                                <label for="exampleFormControlInput1" class="form-label mb-2">
                                                    <img src="{{ i.image }}" style="border:5px solid #040404"
                                                        height="100px" width="100px">
                                                </label>

                                                <input type="file" accept="image/*" class="form-control"
                                                    id="product_photo" name="product_photo"
                                                    aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                            </div>

                                            <div class="mb-3">
                                                <label for="exampleFormControlTextarea1"
                                                    class="form-label">Description</label>
                                                <input type="text" class="form-control" id="product_description"
                                                    name="product_description" aria-describedby="inputGroupFileAddon04"
                                                    aria-label="Upload" value="{{i.description}}" required>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-warning">Update</button>
                                            </div>
                                        </form>


                                    </div>
                                </div>
                            </div>
                        </div>





                        <!-- Deleteting Product -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#DeleteModal-{{ forloop.counter }}">
                            <i class="bi bi-trash-fill"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="DeleteModal-{{ forloop.counter }}" tabindex="-1"
                            aria-labelledby="DeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Product {{i.product_name}} will be deleted. Are you sure?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <a class="btn btn-danger ms-0 " href="{% url 'delete_product' i.product_id %}"
                                            role="button">Delete</a>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    {% endif %}

                    <div class="card-body">
                        <h4 class="card-title">{{ i.product_name}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Category: {{i.category}}
                        </h6>
                        <p class="card-text">{{i.description}}</p>
                        <div class="buy d-flex justify-content-between align-items-center">
                            <div class="price text-success">
                                <h5 class="mt-4">Price: {{i.price}} BDT</h5>
                            </div>
                            <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        </div>




                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}




            <!-- If number of product is greater than 0 then Adding Product -->
            {%if user.is_superuser%}

            <div class="container-fluid bg-gradient mb-5 ">

                <button type="button" class="btn  ms-0" style="width: 300px; height: 300px;" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    <i class="bi bi-plus-circle-fill" style='font-size:50px;'></i>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add New Products</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">


                                <form action="/add_product" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Product Name:</label>
                                        <input type="text" class="form-control" id="product_name" name="product_name"
                                            placeholder="E.g. Potato Regular" required />
                                    </div>

                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Product
                                            Category:</label>
                                        <select class="form-select" aria-label="Default select example"
                                            id="product_category" name="product_category" required>
                                            <option selected>Choose Category</option>
                                            <option value="Fruit">Fruit</option>
                                            <option value="Vegetable">Vegetable</option>
                                            <option value="Toy">Toy</option>
                                            <option value="Medicine">Medicine</option>
                                            <option value="Stationery">Stationery</option>
                                            <option value="Pet">Pet</option>
                                            <option value="Electric">Electric</option>
                                            <option value="Meat">Meat</option>
                                            <option value="Fish">Fish</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Product Price:</label>
                                        <input type="number" class="form-control" id="product_price"
                                            name="product_price" placeholder="E.g. 100" required />
                                    </div>

                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Product Photo:</label>
                                        <br>
                                        <input type="file" accept="image/*" class="form-control" id="product_photo"
                                            name="product_photo" aria-describedby="inputGroupFileAddon04"
                                            aria-label="Upload" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                                        <input type="text" class="form-control" id="product_description"
                                            name="product_description" aria-describedby="inputGroupFileAddon04"
                                            aria-label="Upload" required>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-warning">Add</button>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {%endif%}









        </div>
    </div>
</div>

{% else %}


<!-- If number of product is 0 then Adding Product -->
{%if user.is_superuser%}

<div class="container-fluid bg-gradient mb-3 ">

    <button type="button" class="btn  ms-0" style="width: 300px; height: 300px;" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        <i class="bi bi-plus-circle-fill" style='font-size:50px;'></i>
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Products</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <form action="/add_product" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Product Name:</label>
                            <input type="text" class="form-control" id="product_name" name="product_name"
                                placeholder="E.g. Potato Regular" required />
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Product
                                Category:</label>
                            <select class="form-select" aria-label="Default select example" id="product_category"
                                name="product_category" required>
                                <option selected>Choose Category</option>
                                <option value="Fruit">Fruit</option>
                                <option value="Vegetable">Vegetable</option>
                                <option value="Toy">Toy</option>
                                <option value="Medicine">Medicine</option>
                                <option value="Stationery">Stationery</option>
                                <option value="Pet">Pet</option>
                                <option value="Electric">Electric</option>
                                <option value="Meat">Meat</option>
                                <option value="Fish">Fish</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Product Price:</label>
                            <input type="number" class="form-control" id="product_price" name="product_price"
                                placeholder="E.g. 100" required />
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Product Photo:</label> <br>
                            <input type="file" accept="image/*" class="form-control" id="product_photo"
                                name="product_photo" aria-describedby="inputGroupFileAddon04" aria-label="Upload"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <input type="text" class="form-control" id="product_description" name="product_description"
                                aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-warning">Add</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

{%endif%}







<div class="p-5 mt-5 mb-5 bg-warning text-white text-center my-0">
    <h2><b>Sorry, No Product is Available Right Now !!!</b></h2>
</div>





{% endif %}

{% endblock body %}